<div class="show-post">
<%= @post.user.user_name %><br>
<%= image_tag @post.image.url(:medium) %><br>
<%= @post.caption %>

<% @post.comments.each do |comment| %>
  <div class="comment">
    <p><%= comment.content %></p>
    <% if comment.user == current_user %>
      <%= link_to post_comment_path(post, comment), method: :delete %>
    <% end %>
  </div>
    <%= form_for(@post, @post.comments.new) do |f| %>
      <%= f.text_field :content, placeholder: 'Add a comment...' %>
      <%= f.submit %>
    <% end %>
<% end %>


<p><%= link_to "delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %></p>
<% if @post.user.id == current_user.id %>
  <p><%=link_to "Cancel", posts_path %></p>
  <p><%= link_to "Edit Post", edit_post_path(@post)%></p>
<% end %>
</div>